extends layout

block content
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socket.js')
    .container
      h1= title
      p Welcome to #{title}
      p Login success!
      a.btn.btn-default(href='/logout') Sign Out
