.loginform {
	padding: 20px 20px 10px 20px;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

.pagetitle {
	text-align: center;
	padding: 20px 0px 20px 0px;
}

#main, #sidebar, #content {
	padding: 10px;
}

.row.messagebar {
	padding: 5px;
	background-color: #f7f7f9;
}

#tabcontent {
	margin-left: 10px;
	margin-right: 10px;
}